@tailwind base;
@tailwind components;
@tailwind utilities;

a {
    text-decoration: none !important;
    font-weight: 700;
}

.authors-title {
    margin-bottom: 5px;
    display: block;
}

.author-block {
    margin-left: 5px;
}

.author-name {
    margin-bottom: 5px;
}

.author-role,
.resource-description {
    font-weight: 400;
    color: hsla(70, 16%, 93%, 0.5);
}

.resource-card {
    width: 50%;
    margin: 20px 0;
    gap: 20px;
}
